/*

  Main-code

*/
:root{
  --main-bg-color: linear-gradient(-45deg, hsl(234,18%,40%) 0%, hsl(233,25%,22%) 100%);
  --main-font-fam:'Roboto', sans-serif;
  --color-white:hsl(0, 100%, 100%);
  --color-logo:hsl(179, 79%, 45%);
  --color-form:hsl(179, 79%, 45%);
  --font-size:1em;
  --line-height:1.6;
}

*{
  margin:0;
  padding:0;
}

#login{
  display:flex;
  height:100vh;
  margin:auto;
}

*:focus{
  outline:none;
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}

a,p,label,input,li,a,legend,h1,h2{
  font-size: var(--font-size);
  font-family:var(--main-font-fam);
  color:var(--color-white);
  text-decoration: none;
}
nav > a{
  color:var(--color-logo);
  text-decoration:none;
  padding-right:1.25em;
  text-transform: uppercase;
  font-weight: 800;
}
body{
  max-width:75em;
  margin:auto;
  background:var(--main-bg-color);
  margin-bottom:3.25em;
  line-height:var(--line-height);
}

/*

  Formulier

*/

form {
  z-index: 1;
  display: flex;
  flex-wrap:wrap;
  background: var(--main-bg-color);
  width: 22.5em;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  flex-direction: row;
  padding: 3rem;
}
form h1{
  display:block;
  width:100%;
  font-size: 150%;
}

input[type="checkbox"]{
  width:auto;
  margin:1em 0;
}
label[for=field-stay-logged-in]{
  padding:0.7em;
}
form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  box-sizing: border-box;
  color:#2e2e2e;
  padding:1em;
  margin-bottom:0;
}
form label{
  padding:1em 0;
}
form button {
  margin-top:1em;
  text-transform: uppercase;
  outline: 0;
  background:   var(--color-white);
  width: 100%;
  border: 0;
  padding:2em;
  color: #2e2e2e;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
form button:hover,
form button:active,
form button:focus {
  background: var(--color-logo);
}

form a{
  display: block;
  font-size:80%;
  font-style: italic;
  margin-left:auto;
  padding: 1em 0;
}

/*

    Navigatie

*/
nav{
  margin-top:3.25em;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:2.5em;
}


header > nav > ul,
header > nav > ul >li{
  display:flex;
  padding-right:1.25em;
  text-transform: uppercase;
  font-weight: 800;
}
header li a:focus{
    color:var(--color-logo);
}
header > nav > ul,
header > nav > ul > li:last-of-type{
  padding:0;
}
header > nav > ul{
  margin:0;
}

/*

  Tab nav

*/
nav ul ul{
  position: relative;
  position:absolute;
  opacity:0;
  height:1px;
  list-style: none;
  margin:0;
  margin-top:2em;
  padding:0;
}
nav ul ul li{
  padding:1em;
  margin-left: -0.6em;
  background-color: hsl(234,18%,40%);
}

nav ul a:focus+ul{
    opacity:1;
    height:auto;
}
nav ul ul:focus-within,
nav ul ul:focus{
    opacity:1;
    height:auto;
}


/*

  Artikelen

*/

main>ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2%;
}

article{
  width:100%;
}

article figure{
  background-color:var(--color-white);
  margin:0;
  margin-bottom:2em;
  overflow:hidden;
}
article a {
  height:100%;
  display: block;
}

article figure img{
  width:100%;
}

article figure figcaption{
  color:#2e2e2e;
  padding:1em;
}

figure figcaption p{
  color:#2e2e2e;
  margin-top:0;
}

figcaption a{
  color:#2e2e2e;
}

/*

  Rating

*/
fieldset{
  border:0;
}

fieldset input{
  opacity: 0;
  display:none;
}
fieldset legend{
  display: none;
}
fieldset label{
  width:3em;
  margin-left:1em;
  display: inline-block;
}
fieldset label:first-of-type{
  margin:0;
}
body footer{
  position: fixed;
  box-sizing: border-box;
  background: black;
  bottom: 0;
  right: 0;
  height:0;
  transition: all 0.4s ease-in-out;
}
body footer:focus{
  height:auto;
}
