/*

  Main-code

*/
:root{
  --main-bg-color: linear-gradient(-45deg, hsl(234,18%,40%) 0%, hsl(233,25%,22%) 100%);
  --main-font-fam:'Roboto', sans-serif;
  --color-white:hsl(0, 100%, 100%);
  --color-logo:hsl(179, 79%, 45%);
  --font-size:1em;
}

*{
  margin:0;
  padding:0;
}

#login{
  display:flex;
  height:100vh;
  margin:auto;
}

label{
    padding: 1em 0px;
}

*:focus{
  transform: scale(1.1);
}

a,p,label,input,li,a,legend{
  font-size: var(--font-size);
  font-family:var(--main-font-fam);
  color:var(--color-white);
  text-decoration: none;
}

nav > a{
  color:var(--color-logo);
  text-decoration:none;
  padding-right:1.25em;
  text-transform: uppercase;
  font-weight: 800;
}
body{
  max-width:75em;
  margin:auto;
  background:var(--main-bg-color);
  margin-bottom:3.25em;
}

/*

  Formulier

*/

form{
  margin:auto;
}

fieldset{
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  border:none;
  background: var(--main-bg-color);
}

/*

    Navigatie

*/
nav{
  margin-top:3.25em;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:2.5em;
}


header > nav > ul,
header > nav > ul >li{
  display:flex;
  padding-right:1.25em;
  text-transform: uppercase;
  font-weight: 800;
}
header > nav > ul,
header > nav > ul > li:last-of-type{
  padding:0;
}
header > nav > ul{
  margin:0;
}

/*

  Tab nav

*/
nav ul ul{
  position: relative;
  position:absolute;
  opacity:0;
  height:1px;
  list-style: none;
  margin:0;
  padding:0;
}
nav ul ul li{
  padding:1em;
  background-color: hsl(234,18%,40%);
}

nav ul a:focus+ul{
    opacity:1;
    height:auto;
}
nav ul ul:focus-within,
nav ul ul:focus{
    opacity:1;
    height:auto;
}


/*

  Artikelen

*/

main>ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2%;
}

article{
  width:100%;
}

article > figure{
  background-color:var(--color-white);
  margin:0;
  margin-bottom:2em;
}

article  >figure > img{
  width:100%;
}

article > figure > figcaption{
  color:#2e2e2e;
  padding:1em;
}

figure > figcaption > p{
  color:#2e2e2e;
  margin-top:0;
}

figcaption a{
  color:#2e2e2e;
}
